.container {
    width: 80%;
    height: 100%;
    margin: 50px auto 100px auto;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 30px;

    align-items: center;
    justify-content: center;
}